%col {
	text-align: center;
	color: #1a1a1a;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%search-bar-display {
    display: inline-flex;
}

%flex-column {
    display: flex;
    flex-direction: column;
}
