$border: 1px solid #dfe1e5;
$top-nav-icons-color: #696975;
$side-bar-results-border-radius: 8px;
$search-border-radius: 24px;
$search-bar-height: 44px;
$search-bar-width: 60vw;
$side-result-border-radius: 8px;
